flask==3.1.2
flask_sqlalchemy==3.1.1
flask_login==0.6.3
flask_migrate==4.1.0
flask_mail==0.10.0
sqlalchemy==2.0.45
alembic==1.17.2
werkzeug==3.1.4
itsdangerous==2.2.0
blinker==1.9.0
Mako==1.3.10
greenlet==3.3.0
typing-extensions==4.15.0
